body {
    margin: 20px;
 
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 3px solid #4B7F52;
    margin-right: 30px;
}

.card {
    line-height:15px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    text-align:left;
    background:  #D8F3DC;
    color: #870B0B;
    border: 2px solid #4B7F52;
    border-radius: 10px;
}

.name{
    animation-name: name; 
    animation-duration: 10s;   
}
.contact{
    background:#EABA6B;
    padding-left:3px; 
    padding: 1px;
    border-radius: 6px;
    justify-content:space-around;
    font-size: 11px;
    line-height: 10px;
}
h2{
    text-shadow: 0 0 5px;
}
.detail:hover{
    color: white
}
@keyframes name{
    from {color:#870B0B }
    to{color:#70E000}
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card" #B6F9C9
*/
